<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>
  <script
  src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
  crossorigin="anonymous"></script>
  <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
  <script src='https://unpkg.com/tesseract.js@v2.1.0/dist/tesseract.min.js'></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="script.js" defer></script>
  
  <title>Video</title>
  <style>
    #video-grid{
      display: grid;
      grid-template-columns:repeat(auto-fill,300px);
      grid-auto-rows: 300px;
    }
    video{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  </style>
</head>
<body>
  <div id="video-grid"></div>

  <script>
  let video = document.getElementById('video-grid');

let canvas = document.createElement('canvas');
// scale the canvas accordingly
canvas.width = 100;
canvas.height = 100;
// draw the video at that frame
canvas.getContext('2d')
  .drawImage(video, 0, 0, canvas.width, canvas.height);
// convert it to a usable data URL
const dataURL = canvas.toDataURL();
  const worker = Tesseract.createWorker({
      logger: m => console.log(m)
    });
    Tesseract.setLogging(true);
    work();

    async function work() {
      await worker.load();
      await worker.loadLanguage('ita');
      await worker.initialize('ita');

      let result = await worker.detect(dataURL);
      console.log(result.data);

      result = await worker.recognize(dataURL);
      console.log(result.data);

      await worker.terminate();
    }
   
   </script>
</body>
</html>